In [2]:
# Preliminary Operations
import scripts.utils as ut

df = ut.read_world_dataset()

In [3]:
# 5 rows
print (df.head())

   Unnamed: 0      city      country    x1     x2    x3    x4    x5    x6  \
0           0     Delhi        India  4.90  22.04  4.28  1.84  3.67  1.78
1           1  Shanghai        China  5.59  40.51  5.59  1.12  4.19  3.96
2           2   Jakarta    Indonesia  2.54  22.25  3.50  2.02  3.18  2.19
3           3    Manila  Philippines  3.54  27.40  3.54  1.24  1.90  2.91
4           4     Seoul  South Korea  7.16  52.77  6.03  3.02  4.52  3.86

     x7  ...     x47      x48     x49      x50      x51       x52       x53  \
0  0.48  ...   36.26   223.87  133.38   596.16   325.82   2619.46   1068.90
1  0.52  ...  121.19  1080.07  564.30  2972.57  1532.23  17333.09   9174.88
2  0.59  ...   80.32   482.85  270.15  1117.69   584.37   2694.05   1269.44
3  0.93  ...   61.82   559.52  281.78  1754.40   684.81   3536.04   2596.44
4  1.46  ...  108.30   809.83  583.60  2621.05  1683.74  21847.94  10832.90

       x54   x55  data_quality
0   586.35  7.96             1
1  1382.83  5.01             1
2   483.19  9.15             1
3   419.02  7.80             1
4  2672.23  3.47             1

[5 rows x 59 columns]

In [4]:
# Info 
print(df.info())

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 4874 entries, 0 to 4873
Data columns (total 59 columns):
 #   Column        Non-Null Count  Dtype
---  ------        --------------  -----
 0   Unnamed: 0    4874 non-null   int64
 1   city          4874 non-null   object
 2   country       4874 non-null   object
 3   x1            4449 non-null   float64
 4   x2            4432 non-null   float64
 5   x3            4552 non-null   float64
 6   x4            4385 non-null   float64
 7   x5            4445 non-null   float64
 8   x6            4540 non-null   float64
 9   x7            4438 non-null   float64
 10  x8            4571 non-null   float64
 11  x9            4494 non-null   float64
 12  x10           4457 non-null   float64
 13  x11           4538 non-null   float64
 14  x12           4369 non-null   float64
 15  x13           4393 non-null   float64
 16  x14           4318 non-null   float64
 17  x15           4312 non-null   float64
 18  x16           4509 non-null   float64
 19  x17           4499 non-null   float64
 20  x18           4439 non-null   float64
 21  x19           4410 non-null   float64
 22  x20           4444 non-null   float64
 23  x21           4447 non-null   float64
 24  x22           4379 non-null   float64
 25  x23           4490 non-null   float64
 26  x24           4414 non-null   float64
 27  x25           4149 non-null   float64
 28  x26           4223 non-null   float64
 29  x27           4389 non-null   float64
 30  x28           3401 non-null   float64
 31  x29           2750 non-null   float64
 32  x30           4013 non-null   float64
 33  x31           3869 non-null   float64
 34  x32           3506 non-null   float64
 35  x33           4296 non-null   float64
 36  x34           3839 non-null   float64
 37  x35           3904 non-null   float64
 38  x36           4400 non-null   float64
 39  x37           3702 non-null   float64
 40  x38           4534 non-null   float64
 41  x39           3523 non-null   float64
 42  x40           2508 non-null   float64
 43  x41           4405 non-null   float64
 44  x42           3761 non-null   float64
 45  x43           3230 non-null   float64
 46  x44           4413 non-null   float64
 47  x45           4273 non-null   float64
 48  x46           4388 non-null   float64
 49  x47           4337 non-null   float64
 50  x48           3533 non-null   float64
 51  x49           3465 non-null   float64
 52  x50           3418 non-null   float64
 53  x51           3385 non-null   float64
 54  x52           2681 non-null   float64
 55  x53           2609 non-null   float64
 56  x54           3459 non-null   float64
 57  x55           3894 non-null   float64
 58  data_quality  4874 non-null   int64
dtypes: float64(55), int64(2), object(2)
memory usage: 2.2+ MB
None

In [5]:
# Missing values 
print(df.isnull().sum())

Unnamed: 0         0
city               0
country            0
x1               425
x2               442
x3               322
x4               489
x5               429
x6               334
x7               436
x8               303
x9               380
x10              417
x11              336
x12              505
x13              481
x14              556
x15              562
x16              365
x17              375
x18              435
x19              464
x20              430
x21              427
x22              495
x23              384
x24              460
x25              725
x26              651
x27              485
x28             1473
x29             2124
x30              861
x31             1005
x32             1368
x33              578
x34             1035
x35              970
x36              474
x37             1172
x38              340
x39             1351
x40             2366
x41              469
x42             1113
x43             1644
x44              461
x45              601
x46              486
x47              537
x48             1341
x49             1409
x50             1456
x51             1489
x52             2193
x53             2265
x54             1415
x55              980
data_quality       0
dtype: int64