In [1]:
# Preliminary Operations
import scripts.utils as ut

df = ut.read_world_dataset()

In [2]:
# Rename dataset's columns

# Mapping file reads
mapping_path = ut.os.path.join(ut.repo_root, 'data', 'processed', 'mapping-columns.csv')
mapping = ut.pd.read_csv(mapping_path, sep=';')

# dict from mapping file
col_dict = dict(zip(mapping['Column'], mapping['Description']))

# Rename columns
df = df.rename(columns=col_dict)

In [3]:
# Result
print(df.columns)

Index(['Unnamed: 0', 'city', 'country', 'Meal, Inexpensive Restaurant (USD)',
       'Meal for 2 People, Mid-range Restaurant, Three-course (USD)',
       'McMeal at McDonalds (or Equivalent Combo Meal) (USD)',
       'Domestic Beer (0.5 liter draught, in restaurants) (USD)',
       'Imported Beer (0.33 liter bottle, in restaurants) (USD)',
       'Cappuccino (regular, in restaurants) (USD)',
       'Coke/Pepsi (0.33 liter bottle, in restaurants) (USD)',
       'Water (0.33 liter bottle, in restaurants) (USD)',
       'Milk (regular), (1 liter) (USD)',
       'Loaf of Fresh White Bread (500g) (USD)', 'Rice (white), (1kg) (USD)',
       'Eggs (regular) (12) (USD)', 'Local Cheese (1kg) (USD)',
       'Chicken Fillets (1kg) (USD)',
       'Beef Round (1kg) (or Equivalent Back Leg Red Meat) (USD)',
       'Apples (1kg) (USD)', 'Banana (1kg) (USD)', 'Oranges (1kg) (USD)',
       'Tomato (1kg) (USD)', 'Potato (1kg) (USD)', 'Onion (1kg) (USD)',
       'Lettuce (1 head) (USD)',
       'Water (1.5 liter bottle, at the market) (USD)',
       'Bottle of Wine (Mid-Range, at the market) (USD)',
       'Domestic Beer (0.5 liter bottle, at the market) (USD)',
       'Imported Beer (0.33 liter bottle, at the market) (USD)',
       'Cigarettes 20 Pack (Marlboro) (USD)',
       'One-way Ticket (Local Transport) (USD)',
       'Monthly Pass (Regular Price) (USD)',
       'Taxi Start (Normal Tariff) (USD)', 'Taxi 1km (Normal Tariff) (USD)',
       'Taxi 1hour Waiting (Normal Tariff) (USD)', 'Gasoline (1 liter) (USD)',
       'Volkswagen Golf 1.4 90 KW Trendline (Or Equivalent New Car) (USD)',
       'Toyota Corolla Sedan 1.6l 97kW Comfort (Or Equivalent New Car) (USD)',
       'Basic (Electricity, Heating, Cooling, Water, Garbage) for 85m2 Apartment (USD)',
       '1 min. of Prepaid Mobile Tariff Local (No Discounts or Plans) (USD)',
       'Internet (60 Mbps or More, Unlimited Data, Cable/ADSL) (USD)',
       'Fitness Club, Monthly Fee for 1 Adult (USD)',
       'Tennis Court Rent (1 Hour on Weekend) (USD)',
       'Cinema, International Release, 1 Seat (USD)',
       'Preschool (or Kindergarten), Full Day, Private, Monthly for 1 Child (USD)',
       'International Primary School, Yearly for 1 Child (USD)',
       '1 Pair of Jeans (Levis 501 Or Similar) (USD)',
       '1 Summer Dress in a Chain Store (Zara, H&M, â€¦) (USD)',
       '1 Pair of Nike Running Shoes (Mid-Range) (USD)',
       '1 Pair of Men Leather Business Shoes (USD)',
       'Apartment (1 bedroom) in City Centre (USD)',
       'Apartment (1 bedroom) Outside of Centre (USD)',
       'Apartment (3 bedrooms) in City Centre (USD)',
       'Apartment (3 bedrooms) Outside of Centre (USD)',
       'Price per Square Meter to Buy Apartment in City Centre (USD)',
       'Price per Square Meter to Buy Apartment Outside of Centre (USD)',
       'Average Monthly Net Salary (After Tax) (USD)',
       'Mortgage Interest Rate in Percentages (%), Yearly, for 20 Years Fixed-Rate',
       'data_quality'],
      dtype='object')

In [4]:
# Export
output_path = ut.os.path.join(ut.repo_root, 'data', 'processed', 'cost-of-living-mapped.csv')
df.to_csv(output_path, index=False)