In [2]:
# Import utility.py and db_utility
import scripts.utils as ut
from scripts.db_utils import get_db_engine, open_connection, close_connection, get_table_count
from sqlalchemy import text

# Load full dataset with all city characteristics [cleaned and standardized columns]
df = ut.read_world_colCleanDataset()

print(df.head())
print(f"‚úÖ Loaded dataset with {len(df)} rows and {len(df.columns)} columns")

   id      city      country  meal,_inexpensive_restaurant_(usd)  \
0   0     Delhi        India                                4.90
1   1  Shanghai        China                                5.59
2   2   Jakarta    Indonesia                                2.54
3   3    Manila  Philippines                                3.54
4   4     Seoul  South Korea                                7.16

   meal_for_2_people,_mid-range_restaurant,_three-course_(usd)  \
0                                              22.04
1                                              40.51
2                                              22.25
3                                              27.40
4                                              52.77

   mcmeal_at_mcdonalds_(or_equivalent_combo_meal)_(usd)  \
0                                               4.28
1                                               5.59
2                                               3.50
3                                               3.54
4                                               6.03

   domestic_beer_(0.5_liter_draught,_in_restaurants)_(usd)  \
0                                               1.84
1                                               1.12
2                                               2.02
3                                               1.24
4                                               3.02

   imported_beer_(0.33_liter_bottle,_in_restaurants)_(usd)  \
0                                               3.67
1                                               4.19
2                                               3.18
3                                               1.90
4                                               4.52

   cappuccino_(regular,_in_restaurants)_(usd)  \
0                                        1.78
1                                        3.96
2                                        2.19
3                                        2.91
4                                        3.86

   coke/pepsi_(0.33_liter_bottle,_in_restaurants)_(usd)  ...  \
0                                               0.48     ...
1                                               0.52     ...
2                                               0.59     ...
3                                               0.93     ...
4                                               1.46     ...

   1_pair_of_men_leather_business_shoes_(usd)  \
0                                       36.26
1                                      121.19
2                                       80.32
3                                       61.82
4                                      108.30

   apartment_(1_bedroom)_in_city_centre_(usd)  \
0                                      223.87
1                                     1080.07
2                                      482.85
3                                      559.52
4                                      809.83

   apartment_(1_bedroom)_outside_of_centre_(usd)  \
0                                         133.38
1                                         564.30
2                                         270.15
3                                         281.78
4                                         583.60

   apartment_(3_bedrooms)_in_city_centre_(usd)  \
0                                       596.16
1                                      2972.57
2                                      1117.69
3                                      1754.40
4                                      2621.05

   apartment_(3_bedrooms)_outside_of_centre_(usd)  \
0                                          325.82
1                                         1532.23
2                                          584.37
3                                          684.81
4                                         1683.74

   price_per_square_meter_to_buy_apartment_in_city_centre_(usd)  \
0                                            2619.46
1                                           17333.09
2                                            2694.05
3                                            3536.04
4                                           21847.94

   price_per_square_meter_to_buy_apartment_outside_of_centre_(usd)  \
0                                            1068.90
1                                            9174.88
2                                            1269.44
3                                            2596.44
4                                           10832.90

   average_monthly_net_salary_(after_tax)_(usd)  \
0                                        586.35
1                                       1382.83
2                                        483.19
3                                        419.02
4                                       2672.23

   mortgage_interest_rate_in_percentages_(%),_yearly,_for_20_years_fixed-rate  \
0                                               7.96
1                                               5.01
2                                               9.15
3                                               7.80
4                                               3.47

   data_quality
0             1
1             1
2             1
3             1
4             1

[5 rows x 59 columns]
‚úÖ Loaded dataset with 4874 rows and 59 columns

In [3]:
# -- Clean and prepare dataset

# Remove any rows with missing city or country
df = df.dropna(subset=['city', 'country'])

# Keep only rows with data_quality == 1 (reliable data)
df = df[df['data_quality'] == 1]

# Reset index for iteration
df = df.reset_index(drop=True)

print(f"‚úÖ Dataset cleaned: {len(df)} rows ready for processing")

‚úÖ Dataset cleaned: 910 rows ready for processing

In [4]:
# -- DB connection & reference tables
engine = get_db_engine()
conn = open_connection(engine)

# Fetch regcar
regcar_df = conn.execute(text("SELECT idcara, descar FROM regcar")).fetchall()
regcar_df = ut.pd.DataFrame(regcar_df, columns=['idcara', 'descar'])

# Fetch regcit
regcit_df = conn.execute(text("SELECT idncity, namecit, country FROM regcit")).fetchall()
regcit_df = ut.pd.DataFrame(regcit_df, columns=['idncity', 'namecit', 'country'])


# -- Test: check selected columns match regcar descriptions
# Columns from dataset that we plan to map and from db
dataset_columns = df.columns.tolist()
car_to_use = regcar_df['descar'].tolist()

# Fetch columns
mapped_cols = [col for col in dataset_columns if col in car_to_use]

# print("\nColumns matched/mapped:", mapped_cols)
print(f"‚úÖ Total columns to insert into valcar: {len(mapped_cols)}")

print(f"‚úÖ Fetched {len(regcar_df)} characteristics and {len(regcit_df)} cities")

üîç Loading .env
üîß Variables loaded: user=user, host=localhost, db=livingcost
‚úÖ Total columns to insert into valcar: 44
‚úÖ Fetched 44 characteristics and 4874 cities

In [5]:
# -- Prepare mapping for valcar insertion

# Create a dictionary: column name -> idcara
col_to_idcara = dict(zip(regcar_df['descar'], regcar_df['idcara']))

# Create a dictionary: (city, country) -> idncity
city_country_to_idncity = {
    (row['namecit'], row['country']): row['idncity']
    for idx, row in regcit_df.iterrows()
}

# -- Test
# print(city_country_to_idncity)
# print(col_to_idcara)
print(f"‚úÖ Mapped {len(col_to_idcara)} characteristics and {len(city_country_to_idncity)} cities")

‚úÖ Mapped 44 characteristics and 4874 cities

In [6]:
# -- Insert data into valcar

inserted = 0
skipped = 0

# Open DB connection
engine = get_db_engine()
conn = open_connection(engine)

# Iterate over dataset rows
for idx, row in df.iterrows():
    city = row['city'].strip()
    country = row['country'].strip()

    # Get city id
    idncity = city_country_to_idncity.get((city, country))
    if not idncity:
        print(f"‚ö†Ô∏è City '{city}' in '{country}' not found in regcit, skipping row {idx}")
        skipped += len(col_to_idcara)
        continue

    # Iterate over characteristics columns in dataset
    for col_name, idcara in col_to_idcara.items():
        cvalue = row.get(col_name)

        if cvalue is None or (isinstance(cvalue, float) and ut.np.isnan(cvalue)):
            continue  # skip empty values

        # Check if the record already exists
        exists = conn.execute(
            text("""
                SELECT 1 FROM valcar 
                WHERE idncity = :idncity AND idcara = :idcara
            """),
            {"idncity": idncity, "idcara": idcara}
        ).fetchone()

        if exists:
            skipped += 1
            continue

        # Insert into valcar
        conn.execute(
            text("""
                INSERT INTO valcar (idncity, idcara, cvalue)
                VALUES (:idncity, :idcara, :cvalue)
            """),
            {"idncity": idncity, "idcara": idcara, "cvalue": str(cvalue)}
        )
        inserted += 1

# Commit changes and close connection
conn.commit()
close_connection(conn)

print(f"‚úÖ valcar populated: {inserted} inserted, {skipped} skipped")

üîç Loading .env
üîß Variables loaded: user=user, host=localhost, db=livingcost
‚úÖ DB connection closed
‚úÖ valcar populated: 39916 inserted, 0 skipped